<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav>
            <img class="userPic" src="/images/dp.jpg" alt="Profile Picture">
            <div class="userDetails">
                <h1>Arjun</h1>
                <h1>Krishna</h1>
                <span>Frontend Developer</span>
            </div>
            <div class="home">
                <ion-icon name="school-outline"></ion-icon>
            </div>
            <div class="projects">
                <ion-icon name="folder-open-outline"></ion-icon>
            </div>
            <div class="contact">
                <ion-icon name="mail-open-outline"></ion-icon>
            </div>
        </nav>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>